
#stacks_in_137_page15 {
	font-size: 158%;
}

#stacks_in_121_page15 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_121_page15 .stacks_right {
	float:right;
	width:49%;
}
#stacks_out_105_page15 {
	width: 480px;
}
