
#stacks_in_137_page4 {
	font-size: 158%;
}

#stacks_in_121_page4 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_121_page4 .stacks_right {
	float:right;
	width:49%;
}
#stacks_out_105_page4 {
	width: 480px;
}
