
#stacks_in_110_page0 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_110_page0 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_110_page0 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_1_page0 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_1_page0 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_1_page0 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_55_page0 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_55_page0 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_55_page0 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}#stacks_in_59_page0_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_59_page0 a:link, #stacks_in_59_page0 a:visited {
	 display:inline-block; 
	
	
	position: relative;
	text-decoration:none;
}
#stacks_in_59_page0 a:hover, #stacks_in_59_page0 a:active {
	color:#FFFFFF;
}







#stacks_in_59_page0 a:link, #stacks_in_59_page0 a:visited {
	background-color:#002F5F;
	background: -webkit-gradient(linear, left top, left bottom, from(#002F5F), to(#001C39));
	border:1px solid #001C39;
	padding:3px 20px;
	border-radius:30px;
	color:#FFFFFF;
	box-shadow:rgba(0, 0, 0, 0.5) 0px 1px 2px;
	margin:5px;
	font-weight:bold;
}
#stacks_in_59_page0 a:hover {
	background-color:#003366;
	background: -webkit-gradient(linear, left top, left bottom, from(#003366), to(#001831));
	box-shadow:rgba(0, 0, 0, 0.25) 0px 2px 4px;
}
#stacks_in_59_page0 a:active {
	background-color:#002F5F;
	box-shadow:rgba(0, 0, 0, 0.75) 0px 0px 4px inset;
}



#stacks_in_63_page0_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_63_page0 a:link, #stacks_in_63_page0 a:visited {
	 display:inline-block; 
	
	
	position: relative;
	text-decoration:none;
}
#stacks_in_63_page0 a:hover, #stacks_in_63_page0 a:active {
	color:#FFFFFF;
}







#stacks_in_63_page0 a:link, #stacks_in_63_page0 a:visited {
	background-color:#003467;
	background: -webkit-gradient(linear, left top, left bottom, from(#003467), to(#001F3E));
	border:1px solid #001F3E;
	padding:3px 20px;
	border-radius:30px;
	color:#FFFFFF;
	box-shadow:rgba(0, 0, 0, 0.5) 0px 1px 2px;
	margin:5px;
	font-weight:bold;
}
#stacks_in_63_page0 a:hover {
	background-color:#003870;
	background: -webkit-gradient(linear, left top, left bottom, from(#003870), to(#001B35));
	box-shadow:rgba(0, 0, 0, 0.25) 0px 2px 4px;
}
#stacks_in_63_page0 a:active {
	background-color:#003467;
	box-shadow:rgba(0, 0, 0, 0.75) 0px 0px 4px inset;
}



#stacks_in_61_page0_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_61_page0 a:link, #stacks_in_61_page0 a:visited {
	 display:inline-block; 
	
	
	position: relative;
	text-decoration:none;
}
#stacks_in_61_page0 a:hover, #stacks_in_61_page0 a:active {
	color:#FFFFFF;
}







#stacks_in_61_page0 a:link, #stacks_in_61_page0 a:visited {
	background-color:#872915;
	background: -webkit-gradient(linear, left top, left bottom, from(#872915), to(#51180C));
	border:1px solid #51180C;
	padding:3px 20px;
	border-radius:30px;
	color:#FFFFFF;
	box-shadow:rgba(0, 0, 0, 0.5) 0px 1px 2px;
	margin:5px;
	font-weight:bold;
}
#stacks_in_61_page0 a:hover {
	background-color:#912C16;
	background: -webkit-gradient(linear, left top, left bottom, from(#912C16), to(#46150B));
	box-shadow:rgba(0, 0, 0, 0.25) 0px 2px 4px;
}
#stacks_in_61_page0 a:active {
	background-color:#872915;
	box-shadow:rgba(0, 0, 0, 0.75) 0px 0px 4px inset;
}




#stacks_in_41_page0 {
	border: solid #FFFFFF;
	border-width: 50px 0px 0px 0px;
}
