
#stacks_in_73_page2 {
	font-size: 158%;
}

#stacks_in_74_page2 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_74_page2 .stacks_right {
	float:right;
	width:49%;
}
#stacks_out_88_page2 {
	width: 480px;
}
