
#stacks_in_0_page8 {
	padding: 34px 0px 31px 0px;
}

#stacks_in_242_page8 {
	font-size: 179%;
}

#stacks_in_147_page8 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_147_page8 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_147_page8 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_147_page8 {
	margin: 70px 0px 0px 0px;
}

#stacks_in_151_page8 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_151_page8 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_151_page8 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_151_page8 {
	margin: 70px 0px 0px 0px;
}
